:root {
  --blue: #37517e;
}
.front {
  background: var(--blue);
}
.front a {
  color: white !important;
}
.dropdown-menu a {
  color: black !important;
}
.anim-img {
  animation: up-down 3s linear infinite alternate;
}
@keyframes up-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
  }
}
